@model IEnumerable<CustomerDataAccessLayer.Models.CustomerDetail>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-primary">
            <i class="fas fa-plus"></i> Apply
        </a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phonenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Create" asp-route-CustomerID="@item.CustomerID">Edit</a> |
                <a asp-action="Details" asp-route-CustomerID="@item.CustomerID">Details</a> |
                <a asp-action="Delete" asp-route-CustomerID="@item.CustomerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
